@model BudgetPerformanceApp4.ViewModel.ExpensesVM
@{
    ViewBag.Title = "KPiExpense";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />
    <title>Expense KPi</title>
    <!-- Bootstrap -->

</head>
<body class="nav-md">
    <div class="right_col" role="main">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Expense KPi</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="x_content">
                            <br />
                            <div class="row pull-right">
                                @Html.ActionLink("Back to Budget List", "KPiBudgetExpense")
                            </div>
                            @*@Html.ActionLink("Add Expense", "CreateExpense", "Expense", new { budgetId = Model.BudgetId }, null)*@
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped jambo_table bulk_action col-md-12 col-sm-12 col-xs-12" id="myTable">
                                        <thead>
                                            <tr class="headings">
                                                <th class="column-title">
                                                    Expense Name
                                                </th>
                                                <th class="column-title">
                                                    Expense Amount
                                                </th>
                                                
                                                @*<th class="column-title">
                                                    Actions
                                                </th>*@
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model.Expenses)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ExpenseName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ExpenseAmount)
                                                </td>

                                                @*<td>
                                                    @Html.ActionLink("Update", "UpdateExpense", "Expense", new { id = item.Id }, null)
                                                </td>*@
                                            </tr>
                                        }
                                    <tfoot>
                                        <tr class="footer_fixed">
                                            <th class="column-title">Expense Total</th>
                                            <td>@Model.Expenses.Sum(i => i.ExpenseAmount)</td>
                                        </tr>
                                        <tr>
                                            <th>Budget Total</th>
                                            <td>@Model.Expenses.Sum(i => i.ExpenseAmount)</td>
                                        </tr>
                                        <tr>
                                            <th>Revenue</th>
                                            <td>@Model.Expenses.Sum(i => i.ExpenseAmount)</td>
                                        </tr>
                                    </tfoot>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
